.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.calculator-screen { grid-area: result; }
.divide { grid-area: divideBtn; }
.multiply { grid-area: multiplyBtn; }
.substract { grid-area: substractBtn; }
.add { grid-area: addBtn; }
.equal-sign { grid-area: equalBtn; }
.all-clear { grid-area: clearBtn; }
.invert-sign { grid-area: invertBtn; }
.percentage { grid-area: percentageBtn; }
.zero { grid-area: zeroBtn; }
.one { grid-area: oneBtn; }
.two { grid-area: twoBtn; }
.three { grid-area: threeBtn; }
.four { grid-area: fourBtn; }
.five { grid-area: fiveBtn; }
.six { grid-area: sixBtn; }
.seven { grid-area: sevenBtn; }
.eight { grid-area: eightBtn; }
.nine { grid-area: nineBtn; }
.decimal { grid-area: decimalBtn; }

.calculator {
  margin: 0 10vw;
  border: solid black 1px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    "result result result result"
    "clearBtn invertBtn percentageBtn divideBtn"
    "sevenBtn eightBtn nineBtn multiplyBtn"
    "fourBtn fiveBtn sixBtn substractBtn"
    "oneBtn twoBtn threeBtn addBtn"
    "zeroBtn zeroBtn decimalBtn equalBtn";
}

.calculator > * {
  border-radius: 0%;
  border: solid rgba(155, 155, 155, 0.2) 0.5px;
}

#result-display {
  grid-column: 1 / 5;
  grid-row: 1;
  text-align: end;
  padding-right: 10px;
  background-color: gray;
}
